POSTGRES_DB=simpax
POSTGRES_USER=simpax_admin
POSTGRES_PASSWORD=rjoshuan!70
POSTGRES_PORT=5432

BACKEND_PORT=8080

APISIX_ADMIN_KEY=ganti_dengan_admin_key_apisix
APISIX_HTTP_PORT=9080
APISIX_ADMIN_PORT=9180

ETCD_PORT=2379

SYNCOPE_ADMIN_PASSWORD=ganti_dengan_password_syncope_admin
SYNCOPE_PORT=8081

FORTRESS_ADMIN_PASSWORD=ganti_dengan_password_fortress_admin
FORTRESS_LDAP_PORT=389

JWT_EXPIRY_MINUTES=15